{% extends 'base.html.twig' %}

{% block title %}Usuário{% endblock %}

{% block body %}
    <h1>Papéis de Usuários</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>Permissão</th>
            <th>ações</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.roles | join('|') }}</td>


                <td>
                    <a class="btn btn-sm btn-default bt_excluir_funcionario"
                       href="{{ path('user_show', {'id': user.id}) }}">visualizar</a>
                    <a class="btn btn-sm btn-default bt_excluir_funcionario"
                       href="{{ path('user_edit', {'id': user.id}) }}">editar</a>
                    <a class="btn btn-sm btn-default bt_excluir_funcionario"
                       href="{{ path('user_delete',{"id":user.id}) }}"><i
                                class="fas fa-trash"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Adicionar</a>
{% endblock %}